
<div class="container text-center">
	<br><br>
	<h1>Welcome <%= @first_name %></h1>
	<br><br>
	<p>Bienvenue sur notre site de gossip !<p>
	<br>
	<a href="/" class="btn btn-primary">Accedez aux potins</a>


</div>


