

<div class="container text-center">
	<br>
	<h1>Our team</h1>
	<br>
	<div class="row">
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title">Julien TEXIER</h5>
	        <p class="card-text">CEO</p>
	        <a href="https://github.com/JulienTexier/" class="btn btn-primary">Find out more</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title">Paul MOUCHEL</h5>
	        <p class="card-text">CHO</p>
	        <a href="https://github.com/PaulMouchel/" class="btn btn-primary">Find out more</a>
	      </div>
	    </div>
	  </div>
	</div>
</div>

