

<div class="container text-center">
	<br>
	<h1>Contactez-nous !</h1>
	<br>
	<address>
	  <strong>The Gossip Project, Inc.</strong><br>
	  Rue Comté de Lanjuinais<br>
	  35000 RENNES<br>
	  <abbr title="Phone"></abbr> 06.22.45.69.47
	</address>

	<address>
	  <strong>Julien TEXIER & Paul MOUCHEL</strong><br>
	  <a href="mailto:#">bonjour@thegossipproject.com</a>
	</address>
</div>



